/* css for overriding browser 
default spacings for better control  */
HTML,
body,
p {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
}

ul {
  padding: 0px;
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  text-align: none;
}

/* css for default body font  */
body {
  font-family: "Inter";
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

/* css for background color to be white  */
.container1 {
  background-color: white;
  width: 100%;
}

.container1 h5 {
  text-align: center;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100%;
  /* background-color: #e5d9ff; */
}

.leftside img {
  /* margin-left: 15%;
  margin-top: 10%; */
  width: 311px;
  height: 385px;
  /* display: flex; */
}

.leftside {
  display: flex;
  flex-flow: column wrap;
  background-color: #e5d9ff;
}

.leftside h1 {
  color: #424242;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 39px;
  text-align: center;
}

.solidborder {
  border: solid 5px white;
  padding: 60px;
  border-radius: 16px;
  /* background-color: #d8c9f9; */
}

.homecontainer {
  /* margin: 20px auto 60px auto; */
  width: 100%;
  height: 1500px;
  background-color: #e5d9ff;
  display: inline-flex;
}

.homecontainer img {
  margin-left: 15%;
  margin-top: 10%;
  width: 311px;
  height: 385px;
  display: flex;
}

.login_screen {
  /* background-color: white; */
  border: solid 5px black;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  /* max-width: 50%; */
  /* transform: translate(-50%, -50%); */
}

.homepagebutton {
  border: 2px solid transparent;
  background: #a586d5;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  width: 250px;
  margin: 10px auto;
  text-align: center;
}

.homepagebutton:hover {
  background: #8b69c0;
}

#specialbutton {
  cursor: pointer;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3498db;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #3498db;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.form1 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  /* box-sizing: border-box; */
  font-size: 14px;
}

.todoname {
  display: flex;
  width: 65%;
  overflow: hidden;
}

.todoitembutton {
  width: 5%;
  margin-left: 2%;
}

/* .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
} */

/* #specialbutton:hover {
  background-color: #3498db;
} */

/* 
                                                     NAVIGATION
 */

/* css for entire navigation div  */
.navigation {
  display: block;
  width: 100%;
  min-height: 2.8em;
  /* background-color: white; */
  position: relative;
  /* padding-bottom: 0.2em; */
  margin-bottom: 0.5em;
  border-bottom: 0.05em solid black;
}

/* css just for logo and logo hover change  */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-style: solid;
  border-color: black;
  font-size: 1em;
  color: black;
}

#logo:hover {
  color: white;
  background-color: black;
}

/* default link style  */
a {
  color: black;
  text-decoration: none;
}

/* css for keeping nav options to the right half  */
nav {
  float: right;
  max-width: 42%;
  margin-right: 2%;
  font-weight: 500;
}

/* css for nav ul to not have dots  */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* css for nav items spacing  */
nav li {
  float: left;
  position: relative;
  top: 1em;
  min-width: 6em;
  text-align: center;
}

/* css for nav default and onhover styling  */
nav a {
  display: block;
  line-height: 0.75em;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

nav a:hover {
  background: white;
  color: blue;
  font-weight: 800;
}

/* 
                                                     Body Text
 */

.text {
  display: block;
  text-align: left;
  margin-top: 2%;

  /* background-color: #bd2130; */
  margin-left: 3%;
}

/* 
                                                     Task Container
 */
.taskcontainer {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: white;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
}

.Progress {
  margin: 1em 0; /* for demo only */
  position: relative;
  height: 24px;
  background-color: #ccc;
}

.Progress::after {
  content: "[ " attr(data-value) " ] %";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #333;
}

.Progress-Bar {
  height: 100%;
  background: linear-gradient(90deg, red, yellow, green);
}

#textleft {
  text-align: left;
}

.toitembutton {
  width: 10%;
}

/* 
                                                     Global Resets
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 3px grey;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
/* h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
} */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: "Inter";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}

/* body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: 0 0 100%;
  text-align: center;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* 
                                                     min-width:620px
 */

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/
/* GLOBAL STYLES */
.form-group > input[type="text"] {
  display: inline-block;
  /* margin-top: 0.4rem; */
}
.btn {
  padding: 0.8rem 1rem 0.7rem;
  /* border: 0.2rem solid #4d4d4d; */
  cursor: pointer;
  text-transform: capitalize;
}
.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}
.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
}
.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}
.btn__filter {
  border-color: lightgrey;
}
.btn__primary {
  color: #fff;
  background-color: #000;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  max-width: 20%;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: left;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
[class*="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}
.todoitem > * + * {
  /* margin-top: 1.25rem; */
  display: inline-flex;
}
.stack-large > * + * {
  margin-top: 2.5rem;
}

.formflex {
  display: flex;
  flex-flow: row;
}

/* 
                                                     min-width:620px
 */

@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
.filters {
  width: 100%;
  margin: unset auto;
}
/* Todo item styles */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  vertical-align: baseline;
}
.todo > * {
  flex: 0 0 100%;
}
.todo-text {
  width: 100%;
  min-height: 4.4rem;
  /* padding: 0.4rem 0.8rem; */
  border: 2px solid #565656;
}
.todo-text:focus {
  box-shadow: inset 0 0 0 2px;
}
/* CHECKBOX STYLES */

.checkboxstyle {
  width: 10%;
}

.c-cb {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 44px;
  padding-left: 0px;
  /* clear: left; */
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: 10px;
  left: -28px;
  width: 22px;
  height: 22px;
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label {
  font-size: 20px;
  font-family: "Inter";
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before {
  content: "";
  position: absolute;
  border: 2px solid currentColor;
  background: transparent;
}
.c-cb > input[type="checkbox"]:focus + label::before {
  border-width: 1px;
  outline: 1.5px solid grey;
}
.c-cb > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 15px;
  left: -22px;
  width: 6px;
  height: 3px;
  transform: rotate(-45deg);
  border: solid grey;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
  color: grey;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
  color: grey;
}

/* 
                                                     min-width:550px
 */

@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 1rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}

/* END GLOBAL STYLES */
.todoapp {
  background: #fff;
  /* margin-left: 20px; */
  /* width: 20%; */
  max-width: 50rem;
  margin-left: 3%;
  margin-top: 3%;
  border: 5px solid black;

  /* margin: 2rem 0 4rem 0; */
  /* padding: 1rem; */
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.todoapp1 {
  background: #b678ff;
  /* margin-left: 20px; */
  /* width: 20%; */
  max-width: 50rem;
  margin-left: 3%;
  margin-top: 3%;
  border: 5px solid black;

  /* margin: 2rem 0 4rem 0; */
  /* padding: 1rem; */
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  padding: 4rem;
}

/* 
                                                     min-width:550px
 */

@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Inter";
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
